@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Sanchez');

body {
background: url('/img/chin_music_background.jpg') 50% 0 no-repeat;
color: rgba(255,255,255,0.8);
background-color: #000;
text-align: left;
font-size: 2.7vmin;
line-height: 3.6vmin;
font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
font-family: "Sanchez", "Roboto Slab", "Consolas", "Courier", monospace, serif;
font-weight: 300;
text-transform: uppercase;
letter-spacing: 1px;
text-align: center;
}
h1, h2 {
text-indent: -9999px;
}
iframe {
text-align: center;
}
strong {
font-weight: 400;
}
#container {
/* display: flex;
display: -webkit-flex; */
background: url('/img/crowd.jpg') 0 80% no-repeat;
width: 100%;
margin-left: auto;
margin-right: auto;
font-size: 4.0vmin;
line-height: 5.6vmin;
}
/* ..content {
-webkit-flex: 1 0 0;
flex: 1 0 0;
display: block;
clear: both;
}  */    
a:link, a:visited, a:hover, a:active {
color: #fff;
text-transform: uppercase;
text-decoration: none;
}
a:hover, a:active {
color: orange;
}
h3 {
font-size: 36px;
}
#menu, #folow {
display: inline-block;
text-align: center;
margin-top: 200px;
width: 100%;
margin-left: 0;
padding-left: 0;
}
#buy {
display: inline-block;
}
#buy li {
display: inline;
margin-right: 8px;
letter-spacing: 1px;
}
#menu li, #follow li {
display: inline-block;
width: 22%;
}
#menu li a {
font-weight: 300;
letter-spacing: 1px;
font-size: 2vw;
}
#follow {
margin-top: 0;
width: 100%;
text-align: center;
padding-left: 0;
}
#follow li {
width: 25%;
}
#slide1, #slide2, #slide3, #slide4, #slide5, #slide6 {
color: #333;
/* padding: 170px 0 0 0; */
/* height: 600px; */
height:  50vh;
width: 100%;
background-size: cover;
/* background-color: rgba(255, 0, 0, 0.2); */
-moz-box-shadow: inset 0px 20px 40px 0px #000000;
-webkit-box-shadow: inset 0px 20px 40px 0px #000000;
box-shadow: inset 0px 20px 40px 0px #000000;        
}
#slide1 {
background: url('/img/session-01.jpg') 50% 11% no-repeat fixed;
}
#slide2 {
background: url('/img/steve-les-paul.jpg') 50% 0 no-repeat fixed;
}
#slide3 {
background: url('/img/tony-drums.jpg') 50% 0 no-repeat fixed;
}
#slide4 {
background: url('/img/continental.jpg') 50% 0 no-repeat fixed;
}
#slide5 {
background: url('/img/ringo-drums.jpg') 50% 0 no-repeat fixed;
}
#slide6 {
background: url('/img/tony-mixing.jpg') 50% 0 no-repeat fixed;
}
.content {
width: 100%;
font-size: 16px;
line-height: 29px;
}
.content {
margin: 0 auto;
width: 50%;
text-align: left;
font-size: 18px!important;
line-height: 28px!important;
font-weight: normal;
text-align: left;
}
footer.content {
text-align: center;
margin-top: 24px;
margin-bottom: 24px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 760px) {
#menu li a {
font-weight: 300;
letter-spacing: 1px;
font-size: 48px;
}      
.content {
width: 90%;
font-size: 36px!important;
line-height: 48px!important;
}
#video-player {
width: 100%;
height: 100%;
}
#slide1 {
background: url('/img/session-01.jpg');
}
#slide2 {
background: url('/img/steve-les-paul.jpg');
}
#slide3 {
background: url('/img/tony-drums.jpg');
}
#slide4 {
background: url('/img/continental.jpg');
}
#slide5 {
background: url('/img/ringo-drums.jpg');
}
#slide6 {
background: url('/img/tony-mixing.jpg');
}             
#follow li a img {
width: 75px;
}        
}
@media only screen and (min-width: 0px) and (max-width: 760px) {
.content {
width: 90%;
font-size: 24px!important;
line-height: 36px!important;
}
#video-player {
width: 100%;
height: 100%;
}   
#slide1 {
background: url('/img/session-01.jpg') 60% 5% no-repeat fixed;
}
#slide2 {
background: url('/img/steve-les-paul.jpg') 50% 25% no-repeat fixed;
}
#slide3 {
background: url('/img/tony-drums.jpg') 50% 25% no-repeat fixed;
}
#slide4 {
background: url('/img/continental.jpg') 50% 25% no-repeat fixed;
}
#slide5 {
background: url('/img/ringo-drums.jpg') 50% 25% no-repeat fixed;
}
#slide6 {
background: url('/img/tony-mixing.jpg') 50% 25% no-repeat fixed;
}             
#follow li a img {
width: 75px;
}
}   